.main-container.blog-posts {
  max-width: 960px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
}

.entry-thumb {

  display: flex;
  justify-content: center;
  img {
    height: auto;
  }
}

.under-construction-image {
  background: url("../images/under-construction.png") no-repeat;

  height: 228px;
  max-width: 960px;
  background-size: contain;
  background-position: center;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 130px auto;
  font-size: 18px;
  padding: 0 30px;
  background: white;
}