
.posts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
  justify-content: center;

  img {
    max-width: 870px;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
  }
}

.post-preview {

  min-width: 280px;
  padding: 30px;
  max-height: 650px;
  border: 1px solid #cecece;
  margin: 20px;
  overflow: hidden;

  .post-title {
    font-size: 34px;
    margin-bottom: 30px;
  }

}

.entry-thumb {

  display: flex;
  justify-content: center;
  img {
    height: auto;
  }
}

.under-construction-image {
  background: url("../images/under-construction.png") no-repeat;

  height: 228px;
  max-width: 960px;
  background-size: contain;
  background-position: center;
}

article {
  min-width: 360px;
  max-width: 370px;
  padding: 30px;
  border: 1px solid #cecece;
  margin: 20px;
}

.blog-posts {
  margin-top: 80px;
}