.header-wrapper {
  background-color: #f8f8f8;
  height: 80px;
  display: flex;
  align-items: center;


  .logo-image {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width:  100%;
  }
}