.header {
  height: 80px;
}

.homepage {

}

.scroll-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  z-index: 10;
  border-radius: 30px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.3);
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255,0.8);
  }
  &:focus {
    outline: 0;
  }

  .scroll-to-top {
    height: 30px;
    width: 30px;

    background-image: url('../images/arrow-up.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}


.header-wrapper {
  background-color: #f8f8f8;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #cecece;

  .selected-component {
    box-sizing: content-box;
    border-style: none none inset none;
    box-shadow: inset 0px -5px 0 0px #f00;

  }

  .logo-image {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width:  100%;
    max-width: 270px;
    background-color: transparent;
    border: none;
  }
  .main-menu-burger {
    display: none;
  }


  .burger-items {
    display: flex;
    position: absolute;
    width: 100vw;
    height: auto;
    transition: all 0.2s;
  }

  .main-menu-burger {
    display: none;
  }

  .main-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 10px;
      text-transform: uppercase;
      cursor: pointer;
      color: #626262;
      white-space: nowrap;
      font-size: 15px;
      font-weight: lighter;

      transition: all 0.2s;

      &:hover {
        color: #000;
      }
    }
  }

  // ------ menu icon ----- //
  .nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #3c0d0e;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .nav-icon1 span:nth-child(1) {
    top: 0;
  }

  .nav-icon1 span:nth-child(2) {
    top: 15px;
  }

  .nav-icon1 span:nth-child(3) {
    top: 30px;
  }

  .nav-icon1.open span:nth-child(1) {
    top: 14px;
    transform: rotate(135deg);
  }

  .nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .nav-icon1.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
  }

  // ------ menu icon ----- //

  @media  screen and (max-width: 768px) {

    .main-menu-burger {
      display: block;

      width: 40px;
      height: 40px;
      margin-right: 20px;
      cursor: pointer;
      background: no-repeat center;
      background-size: contain;
      transition: all 0.2s;

    }

    .burger-items {
      z-index: 1;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 100%;
      opacity: 0.9;

      button {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 5px;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 30px;
      }

      &.opened {
        top: 80px;
      }
      &.closed {
        top: -600px;
      }

    }


    .menu-item {
      display: none;

      &.small {
        display: flex;
        padding: 10px 25px;
        border-bottom: 1px solid #cecece;

        &:last-child {
          border-bottom: none;
        }
      }
    }


  }

}

