.landing-main {
  position: relative;
  height: 100vh;

  .landing-background {
    background-size: cover;
    background: url('../images/landing-splash.png') no-repeat center;
    height: 100%;
    background-position-y: 80px;
  }

  .landing-text {
    text-shadow: 0 2px #000;
    top: 10px;
    position: absolute;
    max-width: 650px;
    color: #f8f8f8;
    font-size: 40px;
    font-weight: bold;
    padding: 10%;
  }

  @media screen and (max-width: 460px) {
    .landing-text {
      font-size: 30px;
      line-height: 56px;
      z-index: 8;
      top: 65px;
    }

    .landing-background {
      background-position-x: -1120px;
      filter: blur(2px);
    }
  }

}