.packages-main {
  margin-top:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f8f8;


  h2 {
    font-size: 25px;
  }

  .packages-illustration {
    background: url("../images/ABRAXAS-Infographic.png") no-repeat center;
    height: 60vh;
    width: 100%;
    background-size: contain;
    margin-top: 30px;
  }

  .event-illustration {
    background: url("../images/event.jpg") no-repeat center;
    height: 60vh;
    width: 100%;
    background-size: contain;
    margin-top: 30px;
  }
  .business-illustration {
    background: url("../images/business.jpg") no-repeat center;
    height: 60vh;
    width: 100%;
    background-size: contain;
    margin-top: 30px;
  }

  .packages-scout {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .packages-scout-text {
      padding: 40px;
      max-width: 900px;
    }



    .packages-headers {
      color: #2db490;
    }
  }







  }
.packages-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-packages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(10, 10, 10, 0.54);
  cursor: pointer;
}



.packages-watermark {
  color: #f8f8f8;
  font-size: 30px;
  position: absolute;
  top: 50%;
  font-weight: 600;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.packages-container {
  position: relative;
  max-width: 450px;
  margin: 10px;
}

.packages-section-images{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 1450px;
}

.demo-btn{
  cursor: pointer;
  margin: 1.22em;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  text-transform: capitalize;
  background-color: #781215;
  color: #f8f8f8;
  border: 0;
  border-bottom: 3px solid;
  border-radius: 0.35em;
  border-color: #410b0d;
}